#appointment {
  background: linear-gradient(
  135deg,
  rgba(49, 68, 134, 0.04),
  rgba(105, 139, 205, 0.04)
);
  padding: 5rem 1.5rem;
  padding-bottom: 2rem;
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
    align-items: start;
    overflow: auto;

    .info {
        max-height: 100vh;
        overflow-y: auto;
        justify-content: space-between;
      p {
        margin: 0.5rem 0 2rem;
      }

      article {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;

        small {
          margin-top: 0.4rem;
          display: block;
        }

        .info__icon {
          background: $secondary-color;
          color: $white-color;
          padding: 0.8rem;
          border-radius: 50%;
          display: flex;
          height: fit-content;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 1.4rem;

      .btn-primary {
        margin-top: 1rem;
      }

      .form__group {
        display: flex;
        flex-direction: column;

        label {
          font-size: 0.85rem;
          margin-bottom: 0.4rem;
          display: inline-block;
          font-weight: 600;
          padding-left: 0.4rem;
        }

        input, textarea, select {
          background: rgba(255, 255, 255, 0.85);
          padding: 0.85rem 1rem;
          display: block;
          width: 100%;
          border-radius: 1rem solid rgba(0, 0, 0, 0.08);
          backdrop-filter: blur(6px);
          resize: none;
          appearance: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
    #appointment {
        .container {
            grid-template-columns: 1fr;
            gap:2rem;

            .info {
                h2, p {
                    text-align: center;
                }
            }
            form {
                .btn-primary {
                    align-self: center;
                    width: 50%;
                }
            }
        }
    }
}