.swiper {
    width: $container-lg;
    

.swiper-wrapper {
    /*brings pagination down*/
    margin-bottom: 1rem;
    .swiper-slide {
            @include gradientBackground;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            cursor: default;
            font-size: 0.9rem;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            transform-origin:center center ;
        
            p {
                margin-bottom: 1.5rem;
            }
            .client {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
        .swiper-slide.hovered {
           transform: translateY(-10px);
           z-index: 20;
           box-shadow: $dark-color; 
        }

        .swiper-outer-wrapper {
            overflow: visible;
            width: $container-lg;
            margin: 0 auto;
        }

    }
    .swiper-pagination-bullet {
        background: $primary-color;
    }
}

/*======================= MEDIA QUERIES (SMALL DEVICES) =================*/
@media screen and (max-width: 600px) {
    #testimonials {
        overflow: hidden;
    }
  .swiper-outer-wrapper {
        padding: 0;
    }
    .swiper-pagination {
        display: none;
    }
    /* 2. Swiper cleanup */
    #testimonials .swiper {
        padding: 0;
        overflow: hidden;
    }
    #testimonials .swiper-wrapper {
        display: flex;
        align-items: stretch;
    }
    
    #testimonials .swiper-slide {
        margin: 0 auto;
        width: 100% !important;
        transform: none !important;
        box-shadow: none !important;
        z-index: auto !important;
        cursor: default !important;
    }
}
